@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
}

#sidebar {
  background-color: #1597E5;
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 0px 5px 1px rgba(0, 0, 0, 0.1);
  transition: 200ms width;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;
  color: #F5F4F4;
}

.title-container h1 {
  font-size: 22px;
  font-weight: lighter;
}

.links-container {
  padding: 0px 15px;
}

.links {
  display: flex;
  align-items: center;
}

.icon {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #F5F4F4;
}

.links span {
  padding: 0px 20px;
  color: #F5F4F4;
}

#main-dashboard-content {
  margin-left: 300px;
  box-sizing: border-box;
  height: 100%;
  padding: 20px 25px;
  transition: 400ms ease margin-left;
}

.search-input {
  display: flex;
  justify-content: space-between;
  width: 400px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  padding: 5px 25px;
  border-radius: 15px;
}

.search-input input {
  border: none;
  outline: none;
  width: 100%;
}

.search-input i {
  color: #5f5f5f;
}

.action-icon-one,
.action-icon-two {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(133, 226, 238);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
  margin-left: 8px;
}

.action-icon-two {
  background-color: #77beff;
}

.action-icons {
  display: flex;
}

#search-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#welcome-title {
  font-size: 24px;
  font-weight: lighter;
  margin: 20px 5px;
}

#grid-container main{
  display: grid;
  grid-template-columns: 65% auto;
  grid-gap: 25px;
}

.grid-item {
  height: 350px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  box-sizing: border-box;
  padding: 50px;
}


@media (max-width: 950px) {
  .title-container h1 {
    display: none;
  }
  .links span {
    display: none;
  }
  #sidebar {
    width: 75px;
  }
  #main-dashboard-content {
    margin-left: 75px;
  }
}